name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: holepunchto/actions/bare-base@v1
      - run: npm run lint
      - run: npm t
      - run: npm run test-bare
